<html>
    <head>
        <title>Coopers Game</title>
        <meta charset="utf-8" />
        <!-- Initialize scripts. -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="/entityRestApp.js"></script>
    </head>
    <body ng-app="entityRestApp">

    Hit the refresh button over any catagory to see a lit of items already created. When giving an identifer,
    plase stick to letters andunderscores (no spaces of other special characters). For player names, please
    stick to single names (no spaces).
    <br><br>
    <div ng-controller="armorController">
        <ol>
            <li ng-repeat = "entity in entityResponse">
                {{ 'Identifier: ' + entity.identifier + ', name: ' + entity.name + ', baseAC: ' + entity.baseAC }}
            </li>
        </ol>
        <input type="submit" ng-click="getEntity()" value="refresh">
        <br><br>
        <b>CREATE ARMOR</b><br>
        Identifier (unique name): <input type="text" ng-model="armor.identifier" value=""><br>
        Name: <input type="text" ng-model="armor.name" value=""><br>
        BaseAC: <input type="number" ng-model="armor.baseAC"><br>
        <input type="submit" ng-click="postEntity(armor)" value="Save">
        <input type="submit" ng-click="putEntity(armor)" value="Update">
        <input type="submit" ng-click="deleteEntity(armor)" value="Delete"><br>
    </div>

    <br><br>

    <div ng-controller="armorDecoratorController">
        <ol>
            <li ng-repeat = "entity in entityResponse">
                {{ 'Identifier: ' + entity.identifier + ', name: ' + entity.name + ', placement: ' + entity.placement + ', baseAC: ' + entity.baseAC }}
            </li>
        </ol>
        <input type="submit" ng-click="getEntity()" value="refresh">
        <br><br>
        <b>CREATE ARMOR DECORATOR</b><br>
        Identifier (unique name): <input type="text" ng-model="armorDecorator.identifier" value=""><br>
        Name: <input type="text" ng-model="armorDecorator.name" value=""><br>
        Placement: <input list="position" ng-model="armorDecorator.placement"><br>
        BaseAC: <input type="number" ng-model="armorDecorator.baseAC"><br>
        <input type="submit" ng-click="postEntity(armorDecorator)" value="Save">
        <input type="submit" ng-click="putEntity(armorDecorator)" value="Update">
        <input type="submit" ng-click="deleteEntity(armorDecorator)" value="Delete"><br>
    </div>

    <div ng-controller="weaponController">
        <ol>
            <li ng-repeat="entity in entityResponse">
                {{ 'Identifier: ' + entity.identifier + ', name: ' + entity.name }}<br>
                {{ '    dmg: ' + entity.dmg.number + entity.dmg.size + '+' + entity.dmg.base }}<br>
                {{ '    hit: ' + entity.hit.number + entity.hit.size + '+' + entity.hit.base }}
            </li>
        </ol>
        <input type="submit" ng-click="getEntity()" value="refresh">
        <br><br>
        <b>CREATE WEAPON</b><br>
        Identifier (unique name): <input type="text" ng-model="weapon.identifier" value=""><br>
        Name: <input type="text" ng-model="weapon.name" value=""><br>
        dmg: <input type="number" ng-model="weapon.dmg.number"><input list="dice" ng-model="weapon.dmg.size">+<input type="number" ng-model="weapon.dmg.base"><br>
        hit: <input type="number" ng-model="weapon.hit.number"><input list="dice" ng-model="weapon.hit.size">+<input type="number" ng-model="weapon.hit.base"><br>
        <input type="submit" ng-click="postEntity(weapon)" value="Save">
        <input type="submit" ng-click="putEntity(weapon)" value="Update">
        <input type="submit" ng-click="deleteEntity(weapon)" value="Delete"><br>
    </div>

    <div ng-controller="weaponDecoratorController">
        <ol>
            <li ng-repeat="entity in entityResponse">
                {{ 'Identifier: ' + entity.identifier + ', name: ' + entity.name + ', placement: ' + entity.placement }}<br>
                {{ '    dmg: ' + entity.dmg.number + entity.dmg.size + '+' + entity.dmg.base }}<br>
                {{ '    hit: ' + entity.hit.number + entity.hit.size + '+' + entity.hit.base }}
            </li>
        </ol>
        <input type="submit" ng-click="getEntity()" value="refresh">
        <br><br>
        <b>CREATE WEAPON DECORATOR</b><br>
        Identifier (unique name): <input type="text" ng-model="weapon.identifier" value=""><br>
        Name: <input type="text" ng-model="weapon.name" value=""><br>
        Placement: <input list="position" ng-model="weapon.placement"><br>
        dmg: <input type="number" ng-model="weapon.dmg.number"><input list="dice" ng-model="weapon.dmg.size">+<input type="number" ng-model="weapon.dmg.base"><br>
        hit: <input type="number" ng-model="weapon.hit.number"><input list="dice" ng-model="weapon.hit.size">+<input type="number" ng-model="weapon.hit.base"><br>
        <input type="submit" ng-click="postEntity(weapon)" value="Save">
        <input type="submit" ng-click="putEntity(weapon)" value="Update">
        <input type="submit" ng-click="deleteEntity(weapon)" value="Delete"><br>
    </div>

    <div ng-controller="characterController">
        <ol>
            <li ng-repeat="entity in entityResponse">
                {{ 'Name (identifier): ' + entity.name + ', race: ' + entity.raceType + ', class: ' + entity.classType }}<br>
                {{ '.   str: ' + entity.strength + ', con: '+ entity.constitution + ', dex: ' + entity.dexterity + ', int: ' + entity.intelligence + ', wis: ' + entity.wisdom + ', cha: ' + entity.charisma }}<br>
                {{ '.   Main Hand: ' + entity.mainHand.baseIdentifier + ', decorators: ' + entity.mainHand.decorators }}<br>
                {{ '.   Off Hand: ' + entity.offHand.baseIdentifier + ', decorators: ' + entity.offHand.decorators }}<br>
                {{ '.   Armor: ' + entity.armor.baseIdentifier + ', decorators: ' + entity.armor.decorators }}
            </li>
        </ol>
        <input type="submit" ng-click="getEntity()" value="refresh">
        <br>
        <b>CREATE NEW PLAYER</b>
        Names: <input type="text" ng-model="character.name"><br>
        Race: <input list="race" ng-model="character.raceType"><br>
        Class: <input list="class" ng-model="character.classType"><br>
        <input type="submit" ng-click="postEntity(character)" value="Save">
        <input type="submit" ng-click="putEntity(character)" value="Update">
        <input type="submit" ng-click="deleteEntity(character)" value="Delete"><br>
    </div>

    <br><br><br>
    Now, after you have a character (specifically the characters name) follow this <a href="/st/character/index.html">link</a>.

    </body>


    <datalist id="position">
        <option value="PREFIX">
        <option value="POSTFIX">
    </datalist>
    <datalist id="dice">
        <option value="D0">
        <option value="D2">
        <option value="D4">
        <option value="D6">
        <option value="D8">
        <option value="D10">
        <option value="D12">
        <option value="D20">
    </datalist>
    <datalist id="race">
        <option value="HUMAN">
        <option value="HALFLING">
        <option value="ELF">
    </datalist>
    <datalist id="class">
        <option value="ROGUE">
        <option value="WARRIOR">
        <option value="CLERIC">
    </datalist>
</html>